.af-view .w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.af-view .w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.af-view .w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.af-view .w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.af-view .w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.af-view .w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.af-view .w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.af-view .af-class-navbar {
  height: 150px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: transparent;
}

.af-view .af-class-navbar-container {
  height: 100%;
  max-width: 1200px;
}

.af-view .af-class-nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-height: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 0px solid #000;
  border-radius: 0px;
  -webkit-transition: all 280ms ease-out;
  transition: all 280ms ease-out;
  font-size: 14px;
  font-weight: 700;
}

.af-view .af-class-nav-link:hover {
  border-bottom-width: 3px;
  border-bottom-color: #bd9e57;
  color: #bd9e57;
}

.af-view .af-class-nav-link.w--current {
  border-bottom-width: 3px;
  border-bottom-color: #bd9e57;
  color: #bd9e57;
}

.af-view .af-class-body {
  font-family: nobel, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 300;
}

.af-view .af-class-nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.af-view .af-class-container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.af-view .af-class-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.af-view .af-class-header-line {
  width: 3px;
  height: auto;
  background-color: #000;
}

.af-view .af-class-header-title {
  width: 100%;
  padding: 100px 60px 100px 0px;
  font-family: 'Chronicle display roman', sans-serif;
  color: #000;
}

.af-view .af-class-header-hotel-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 100px 0px 100px 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.af-view .af-class-header-hotel-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  padding: 20px 20px 20px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.af-view .af-class-body-p {
  max-width: none;
  margin-bottom: 0px;
  line-height: 27px;
}

.af-view .af-class-body-p.af-class-bottom-40 {
  margin-bottom: 40px;
}

.af-view .af-class-body-p.af-class-hotel-item-p {
  padding-top: 40px;
  padding-bottom: 40px;
}

.af-view .af-class-body-p.af-class-body-p-alone {
  max-width: 600px;
}

.af-view .af-class-button {
  padding: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #bd9e57;
  background-color: transparent;
  -webkit-transition: all 280ms ease-out;
  transition: all 280ms ease-out;
  color: #bd9e57;
  font-size: 14px;
  line-height: 27px;
  font-weight: 700;
  text-decoration: none;
}

.af-view .af-class-button:hover {
  background-color: #bd9e57;
  color: #fff;
}

.af-view .af-class-button-p {
  margin-bottom: 0px;
  letter-spacing: 1px;
}

.af-view .af-class-heading {
  font-size: 64px;
  line-height: 70px;
  font-weight: 400;
}

.af-view .af-class-text-block_center {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 120px;
  padding-bottom: 60px;
}

.af-view .af-class-row {
  padding-right: 40px;
  padding-left: 40px;
}

.af-view .af-class-row.af-class-row-color {
  padding-right: 40px;
  padding-left: 40px;
  background-color: #f8f5ed;
}

.af-view .af-class-features-grid {
  padding-top: 60px;
  padding-bottom: 60px;
}

.af-view .af-class-feature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 300px;
}

.af-view .af-class-feature-img {
  width: 50%;
  padding-right: 10px;
}

.af-view .af-class-feature-img.af-class-feature-left {
  padding-right: 0px;
  padding-left: 10px;
}

.af-view .af-class-feature-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-right: 0px;
  padding-left: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.af-view .af-class-feature-text.af-class-feature-left {
  padding-right: 60px;
  padding-left: 0px;
}

.af-view .af-class-h4 {
  width: auto;
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
}

.af-view .af-class-text-block_title {
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: 'Chronicle display roman', sans-serif;
  font-size: 64px;
  line-height: 70px;
}

.af-view .af-class-hotel-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.af-view .af-class-hotel-info-text {
  width: 50%;
  padding-right: 40px;
}

.af-view .af-class-hotel-info-slider {
  width: 50%;
  padding-bottom: 20px;
  padding-left: 10px;
}

.af-view .af-class-slider {
  height: 100%;
  background-color: #000;
}

.af-view .af-class-left-arrow {
  display: none;
}

.af-view .af-class-right-arrow {
  display: none;
}

.af-view .af-class-hotel-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.af-view .af-class-link {
  color: #bd9e57;
}

.af-view .af-class-hotel-info-specs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 60px;
}

.af-view .af-class-pakket {
  padding-top: 100px;
  padding-bottom: 100px;
}

.af-view .af-class-pakket-features {
  padding-bottom: 20px;
}

.af-view .af-class-pakket-title_h {
  width: 50%;
  font-family: 'Chronicle display roman', sans-serif;
  font-size: 64px;
  line-height: 70px;
  font-weight: 400;
}

.af-view .af-class-pakket-features-list {
  width: 50%;
  margin-left: auto;
}

.af-view .af-class-pakket-feature {
  min-height: 25px;
  margin-bottom: 15px;
  padding-left: 40px;
  background-image: url('../images/check.svg');
  background-position: 0% 2px;
  background-size: 20px;
  background-repeat: no-repeat;
}

.af-view .af-class-pakket-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.af-view .af-class-paragraph {
  font-weight: 400;
}

.af-view .af-class-header-hotel-img {
  width: 200px;
  height: 200px;
}

.af-view .af-class-image-2 {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.af-view .af-class-container-wide {
  max-width: 1700px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

.af-view .af-class-regio {
  padding-top: 100px;
  padding-bottom: 100px;
}

.af-view .af-class-regio-p {
  max-width: 700px;
  margin: 40px auto 140px;
  font-family: nobel, sans-serif;
  color: #bd9e57;
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  text-align: center;
}

.af-view .af-class-regio-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.af-view .af-class-regio-item.af-class-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.af-view .af-class-regio-img {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.af-view .af-class-regio-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  max-width: 700px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.af-view .af-class-regio-text.af-class-left {
  padding: 60px 40px 60px 0px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: right;
}

.af-view .af-class-regio-title {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: 'Chronicle display roman', sans-serif;
  font-size: 64px;
  line-height: 70px;
  font-weight: 400;
}

.af-view .af-class-regio-img-big {
  height: 100%;
  max-height: none;
  max-width: 75%;
}

.af-view .af-class-regio-ruit {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: 40%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.af-view .af-class-hotels {
  display: -ms-grid;
  display: grid;
  padding-top: 100px;
  padding-bottom: 100px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.af-view .af-class-hotels-item {
  text-align: center;
}

.af-view .af-class-hotel-item-img {
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-width: 2px;
  border-color: #bd9e57;
}

.af-view .af-class-image-3 {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.af-view .af-class-hotel-info-text-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.af-view .af-class-stars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 34px;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.af-view .af-class-star {
  width: 20px;
  height: 20px;
  background-image: url('../images/star-solid.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.af-view .af-class-paragraph-2 {
  line-height: 1.8;
}

.af-view .af-class-div-block {
  padding-left: 40px;
  line-height: 1.8;
}

.af-view .af-class-stars-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-left: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.af-view .af-class-nav-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-height: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.af-view .af-class-nav-logo-img {
  max-height: 120px;
}

.af-view .af-class-pakket-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.af-view .af-class-pakket-info-block {
  width: 50%;
  padding-right: 20px;
  padding-left: 20px;
}

.af-view .af-class-regio-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.af-view .af-class-feature-image {
  width: 100%;
}

.af-view .af-class-pakket-redirect {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.af-view .af-class-pakket-redirect-text {
  width: 50%;
  padding-top: 0px;
  padding-right: 40px;
}

.af-view .af-class-pakket-r-title_h {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: 'Chronicle display roman', sans-serif;
  font-size: 64px;
  line-height: 70px;
  font-weight: 400;
}

.af-view .af-class-pakket-r-features-list {
  width: 100%;
  margin-bottom: 40px;
  margin-left: auto;
}

.af-view .af-class-pakket-redirect-img {
  width: 50%;
  height: auto;
  max-height: 500px;
  padding-left: 40px;
}

.af-view .af-class-image-6 {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.af-view .af-class-div-block-2 {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.af-view .af-class-text-left {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 100px;
}

.af-view .af-class-burger-3 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 6px 6px 25px 0 rgba(40, 7, 128, 0.15);
  cursor: pointer;
}

.af-view .af-class-b3-top-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.af-view .af-class-b3-bar1 {
  width: 30px;
  height: 3px;
  background-color: #858eca;
}

.af-view .af-class-b3-middlebar-base {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 3px;
  margin-top: 6px;
  margin-bottom: 6px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #858eca;
}

.af-view .af-class-b3-middlebar-top {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  width: 30px;
  height: 3px;
}

.af-view .af-class-b3-middlebar {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 3px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #858eca;
}

.af-view .af-class-b3-bar3 {
  width: 30px;
  height: 3px;
  background-color: #858eca;
}

.af-view .af-class-container-mega-wide {
  position: relative;
}

.af-view .af-class-container-mega-wide.af-class-container-color {
  background-color: #f8f5ed;
}

.af-view .af-class-row-mega {
  padding-right: 0px;
  padding-left: 0px;
}

.af-view .af-class-row-mega.af-class-row-color {
  padding-right: 40px;
  padding-left: 40px;
  background-color: #f8f5ed;
}

.af-view .af-class-about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.af-view .af-class-mega-half {
  width: 50%;
}

.af-view .af-class-div-block-3 {
  width: 50%;
}

.af-view .af-class-about-content {
  height: 100%;
  max-width: 600px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.af-view .af-class-about-regios {
  padding: 40px 60px;
  background-color: #bd9e57;
  text-align: center;
}

.af-view .af-class-paragraph-3 {
  margin-bottom: 0px;
  padding: 0px 60px 40px;
  font-size: 18px;
  line-height: 27px;
}

.af-view .af-class-slider-2 {
  height: 100%;
}

.af-view .af-class-button-whte {
  padding: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  -webkit-transition: all 280ms ease-out;
  transition: all 280ms ease-out;
  color: #fff;
  font-size: 14px;
  line-height: 27px;
  font-weight: 700;
  text-decoration: none;
}

.af-view .af-class-button-whte:hover {
  background-color: #fff;
  color: #bd9e57;
}

.af-view .af-class-button-whte.af-class-top-20 {
  margin-top: 20px;
}

.af-view .af-class-h2-center {
  font-family: 'Chronicle display roman', sans-serif;
  font-size: 64px;
  line-height: 70px;
  text-align: center;
}

.af-view .af-class-oproute {
  padding: 20px 40px 60px;
  text-align: center;
}

.af-view .af-class-oproute-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.af-view .af-class-oproute-text-block {
  width: 50%;
  padding-right: 40px;
  padding-left: 40px;
  text-align: left;
}

.af-view .af-class-color-50-height {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  height: 50%;
  background-color: #f8f5ed;
}

.af-view .af-class-hotels-img-grid {
  position: relative;
  z-index: 50;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.af-view .af-class-hotels-img-grid-item {
  width: 100%;
}

.af-view .af-class-container-super-wide {
  position: relative;
  padding-right: 60px;
  padding-left: 60px;
}

.af-view .af-class-container-super-wide.af-class-container-color {
  background-color: #f8f5ed;
}

.af-view .af-class-hotels-info-block {
  padding-top: 40px;
  text-align: center;
}

.af-view .af-class-hotels-info-grid {
  position: relative;
  z-index: 50;
  display: -ms-grid;
  display: grid;
  padding-bottom: 100px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.af-view .af-class-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
}

.af-view .af-class-footer-newsletter {
  width: 50%;
  padding-right: 60px;
}

.af-view .af-class-footer-apps {
  display: block;
  width: 50%;
  padding-left: 60px;
  -webkit-transition: all 280ms ease-out;
  transition: all 280ms ease-out;
}

.af-view .af-class-appstore-images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 40px;
}

.af-view .af-class-appstore-img {
  max-width: 160px;
  padding-right: 20px;
}

.af-view .af-class-social-icons {
  display: -ms-grid;
  display: grid;
  width: auto;
  max-width: 260px;
  grid-auto-columns: 1fr;
  grid-column-gap: 6px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.af-view .af-class-social-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 60px;
  background-color: #fff;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  -webkit-transition: all 220ms ease-out;
  transition: all 220ms ease-out;
}

.af-view .af-class-social-icon:hover {
  background-color: #fff;
  box-shadow: 0 0 4px -1px #000;
}

.af-view .af-class-social-icon.af-class-twitter {
  background-color: transparent;
  background-image: url('../images/twitter-brands.svg');
}

.af-view .af-class-social-icon.af-class-facebook {
  background-image: url('../images/facebook-f-brands.svg');
  background-size: auto 20px;
}

.af-view .af-class-social-icon.af-class-pintrest {
  background-image: url('../images/pinterest-p-brands.svg');
  background-size: auto 20px;
}

.af-view .af-class-social-icon.af-class-instagram {
  background-image: url('../images/instagram-brands-1.svg');
}

.af-view .af-class-social-icon.af-class-linkedin {
  background-image: url('../images/linkedin-in-brands.svg');
}

.af-view .af-class-regio-big-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.af-view .af-class-nav-logo-img-mobile {
  display: none;
  max-height: 120px;
}

.af-view .af-class-form-block {
  width: 100%;
  max-width: 630px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
}

.af-view .af-class-form {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
}

.af-view .af-class-field-label {
  margin-top: 20px;
  margin-bottom: 15px;
  color: #bd9e57;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.af-view .af-class-text-field {
  max-width: 350px;
  margin-bottom: 40px;
  border: 1px solid #000;
}

.af-view .af-class-h4-form {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
}

.af-view .af-class-hr-line {
  width: 100%;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #000;
}

.af-view .af-class-form-section {
  padding-top: 0px;
  padding-bottom: 0px;
}

.af-view .af-class-area-field {
  min-height: 150px;
  margin-bottom: 40px;
  border: 1px solid #000;
}

.af-view .af-class-checkbox-field {
  margin-top: 40px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #bd9e57;
  font-size: 14px;
  font-weight: 700;
}

.af-view .af-class-checkbox-label {
  padding-left: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.af-view .af-class-checkbox-fields-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  padding-left: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.af-view .af-class-checkbox-date-box {
  width: 50%;
  padding-right: 40px;
}

.af-view .af-class-div-block-5 {
  width: 50%;
}

.af-view .af-class-checkbox {
  display: block;
  border: 1px solid #000;
  border-radius: 0px;
}

.af-view .af-class-checkbox-date-label {
  font-weight: 300;
}

@media screen and (max-width: 991px) {
  .af-view .af-class-header-title {
    padding-right: 20px;
  }
  .af-view .af-class-header-hotel-block {
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .af-view .af-class-feature-text {
    padding-left: 40px;
  }
  .af-view .af-class-feature-text.af-class-feature-left {
    padding-right: 40px;
  }
  .af-view .af-class-regio-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .af-view .af-class-regio-item.af-class-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .af-view .af-class-regio-img {
    width: 100%;
  }
  .af-view .af-class-regio-text {
    width: 100%;
    padding-left: 0px;
  }
  .af-view .af-class-regio-text.af-class-left {
    width: 100%;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .af-view .af-class-regio-title {
    text-align: left;
  }
  .af-view .af-class-hotels-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .af-view .af-class-oproute-text-block {
    padding-right: 20px;
    padding-left: 20px;
  }
  .af-view .af-class-hotels-info-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 767px) {
  .af-view .af-class-navbar {
    height: 120px;
  }
  .af-view .af-class-navbar-container {
    display: block;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .af-view .af-class-nav-link:hover {
    border-bottom-width: 0px;
  }
  .af-view .af-class-nav-menu {
    height: auto;
    background-color: #fff;
    box-shadow: 5px 5px 8px -5px rgba(0, 0, 0, 0.4);
  }
  .af-view .af-class-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .af-view .af-class-header-title {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .af-view .af-class-header-hotel-block {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .af-view .af-class-features-grid {
    padding-bottom: 40px;
  }
  .af-view .af-class-feature {
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .af-view .af-class-feature.af-class-feature-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .af-view .af-class-feature-img {
    width: 100%;
    padding-right: 0px;
    text-align: center;
  }
  .af-view .af-class-feature-img.af-class-feature-left {
    width: 100%;
    padding-left: 0px;
  }
  .af-view .af-class-feature-text {
    width: 100%;
    padding-left: 0px;
  }
  .af-view .af-class-text-block_title {
    padding-top: 0px;
  }
  .af-view .af-class-hotel-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .af-view .af-class-hotel-info-text {
    width: 100%;
    margin-bottom: 40px;
    padding-right: 0px;
  }
  .af-view .af-class-hotel-info-slider {
    width: 100%;
    padding-left: 0px;
  }
  .af-view .af-class-pakket-title_h {
    width: 100%;
  }
  .af-view .af-class-pakket-features-list {
    width: 100%;
    padding-top: 40px;
  }
  .af-view .af-class-regio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .af-view .af-class-regio-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .af-view .af-class-regio-item.af-class-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .af-view .af-class-regio-img {
    width: 100%;
  }
  .af-view .af-class-regio-text {
    width: 100%;
    padding-left: 0px;
  }
  .af-view .af-class-regio-text.af-class-left {
    padding-right: 0px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }
  .af-view .af-class-regio-title {
    font-size: 48px;
    line-height: 1.4;
  }
  .af-view .af-class-regio-img-big {
    max-height: 250px;
  }
  .af-view .af-class-hotels {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .af-view .af-class-hotels-item {
    margin-bottom: 40px;
  }
  .af-view .af-class-nav-logo-img {
    display: none;
  }
  .af-view .af-class-pakket-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .af-view .af-class-pakket-info-block {
    width: 100%;
  }
  .af-view .af-class-feature-image {
    max-height: 300px;
    margin-right: auto;
    margin-left: auto;
  }
  .af-view .af-class-pakket-redirect {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .af-view .af-class-pakket-redirect-text {
    width: 100%;
    margin-bottom: 40px;
    padding-top: 40px;
  }
  .af-view .af-class-pakket-r-title_h {
    width: 100%;
  }
  .af-view .af-class-pakket-r-features-list {
    width: 100%;
    padding-top: 20px;
  }
  .af-view .af-class-pakket-redirect-img {
    width: 100%;
    max-height: none;
    padding-left: 0px;
  }
  .af-view .af-class-image-6 {
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .af-view .af-class-text-left {
    padding-left: 0px;
  }
  .af-view .af-class-burger-3 {
    background-color: transparent;
    box-shadow: none;
  }
  .af-view .af-class-b3-bar1 {
    background-color: #bd9e57;
  }
  .af-view .af-class-b3-middlebar-base {
    background-color: #bd9e57;
  }
  .af-view .af-class-b3-middlebar {
    background-color: #bd9e57;
  }
  .af-view .af-class-b3-bar3 {
    background-color: #bd9e57;
  }
  .af-view .af-class-menu-button {
    margin-top: 20px;
    padding: 0px;
  }
  .af-view .af-class-menu-button.w--open {
    background-color: transparent;
  }
  .af-view .af-class-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .af-view .af-class-mega-half {
    width: 100%;
  }
  .af-view .af-class-about-content {
    padding-bottom: 0px;
  }
  .af-view .af-class-h2-center {
    font-size: 48px;
    line-height: 1.2;
  }
  .af-view .af-class-oproute-text {
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .af-view .af-class-oproute-text-block {
    width: 100%;
    padding-right: 0px;
    padding-bottom: 40px;
    padding-left: 0px;
  }
  .af-view .af-class-container-super-wide {
    padding-right: 20px;
    padding-left: 20px;
  }
  .af-view .af-class-hotels-info-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
  .af-view .af-class-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .af-view .af-class-footer-newsletter {
    width: 100%;
    padding-right: 0px;
    padding-bottom: 40px;
  }
  .af-view .af-class-footer-apps {
    width: 100%;
    padding-left: 0px;
  }
  .af-view .af-class-nav-logo-img-mobile {
    display: block;
    max-height: 80px;
  }
}

@media screen and (max-width: 479px) {
  .af-view .af-class-container {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .af-view .af-class-header-line {
    width: 100%;
    height: 2px;
  }
  .af-view .af-class-header-hotel-block {
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .af-view .af-class-header-hotel-text {
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }
  .af-view .af-class-button {
    position: relative;
    margin-right: auto;
    margin-left: auto;
  }
  .af-view .af-class-button-p {
    width: 100%;
    white-space: break-spaces;
  }
  .af-view .af-class-heading {
    font-size: 48px;
    line-height: 1.3;
  }
  .af-view .af-class-text-block_center {
    padding-top: 60px;
  }
  .af-view .af-class-row {
    padding-right: 20px;
    padding-left: 20px;
  }
  .af-view .af-class-row.af-class-row-color {
    padding-right: 20px;
    padding-left: 20px;
  }
  .af-view .af-class-image {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .af-view .af-class-paragraph {
    font-size: 48px;
    line-height: 1.3;
  }
  .af-view .af-class-header-hotel-img {
    width: 100%;
  }
  .af-view .af-class-image-2 {
    width: 100%;
  }
  .af-view .af-class-container-wide {
    padding-bottom: 0px;
  }
  .af-view .af-class-regio {
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .af-view .af-class-regio-p {
    margin-top: 60px;
    margin-bottom: 80px;
  }
  .af-view .af-class-regio-title {
    font-size: 48px;
    line-height: 1.3;
  }
  .af-view .af-class-hotels {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
  .af-view .af-class-hotel-info-text-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .af-view .af-class-stars-title {
    margin-bottom: 20px;
    padding-left: 0px;
  }
  .af-view .af-class-about-regios {
    padding-right: 20px;
    padding-left: 20px;
  }
  .af-view .af-class-paragraph-3 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .af-view .af-class-oproute {
    padding-right: 0px;
    padding-left: 0px;
  }
  .af-view .af-class-hotels-img-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .af-view .af-class-appstore-img {
    max-width: 140px;
    padding-right: 20px;
  }
  .af-view .af-class-checkbox-date-box {
    padding-right: 20px;
  }
}

@media screen and (max-width: 991px) {
  .af-view #w-node-202e2d258c5c-01b4e65d {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
}

@font-face {
  font-family: 'Chronicle display roman';
  src: url('../fonts/Chronicle-Display-Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}